/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Varela&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #030712;
  --color-foreground: #f9fafb;
  --color-primary: #3b82f6;
  --color-secondary: #1e293b;
  --font-sans: 'Inter', sans-serif;
}

body {
  @apply bg-background text-foreground font-sans overflow-x-hidden;
}

@utility glass {
  @apply bg-white/5 backdrop-blur-lg border border-white/10 shadow-xl;
}

@utility text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-400 via-indigo-400 to-purple-500;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
